@use 'vars' as vars;
@use 'mixins' as mx;

p,
h2,
h3,
small,
input {
  font-family: vars.$font-family;
}

p,
h3 {
  font-weight: vars.$p-weight;
  font-size: vars.$p-fs;
  margin: 0;
}

small {
  font-weight: vars.$small-weight;
  font-size: vars.$small-fs;
}

h2 {
  font-weight: vars.$h2-weight;
}

.page-wrapper {
  @include mx.center;
  padding: vars.$page-padding;
}

.weather-widget {
  @include mx.center;
  width: 50%;
}

.logo {
  padding: vars.$img-padding;
  margin: vars.$img-margin;
  width: vars.$logo-width;
  background-color: vars.$logo-bg;
  // background-clip: content-box;
  border-radius: 5px;
}

.bar {
  @include mx.center;
  width: 100%;
}

.search {
  position: relative;
  width: 80%;
}

.search-input {
  box-sizing: border-box;
  width: 100%;
  padding: vars.$input-margin;
  border: 1px solid #000;
  border-radius: 8px;
}

.search-cancel {
  position: absolute;
  transform: translateX(-125%) translateY(30%);
  border: none;
  background: none;
  font-size: vars.$cancel-fs;
  cursor: pointer;
}

.search:has(input:placeholder-shown) .search-cancel {
  display: none;
}

.search-selected {
  padding: vars.$selected-padding;
  color: vars.$selected-text-color;
  font-weight: vars.$small-weight;
  font-size: vars.$small-fs;
}
