$text-color: #000;
$second-text-color: #fff;
$font-family: 'Roboto', sans-serif;
$h2-weight: 700;
$p-weight: 400;
$small-weight: 300;
$selected-text-color: #676767;
$today-color: #ff4f00;
$page-padding: 3%;
$img-padding: 0.5rem;
$img-margin: 1.5rem;
$input-margin: 0.75rem;
$cancel-fs: 1.4rem;
$selected-padding: 0.7rem;
$logo-width: 150px;
$logo-bg: #a0a0a0;
$today-fs: clamp(1.5rem, 4vw, 3rem);
$p-fs: clamp(0.9rem, 1.5vw, 1.2rem);
$small-fs: clamp(0.6rem, 1vw, 0.9rem);
$desc-padding: 0.5rem;
$weather-padding-bottom: 2rem;
$day-padding: 1rem;
$day-side-padding: 1.5rem;
$element-big-height: 20vh;
$element-mid-height: 15vh;
$element-small-height: 10vh;
$icon-big-height: 13vh;
$icon-mid-height: 10vh;
$icon-small-height: 6vh;
$mid-screen: 1200px;
$small-screen: 1000px;
$mobile-screen: 500px;

$sk-bg: #e9eef3;
$sk-highlight: rgba(255, 255, 255, 0.6);
$sk-icon-big: 8rem;
$sk-icon-small: 6rem;
